@import '../../../assets/styles/colors';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  max-width: 285px;
  border: 1px solid $greyBorder;
  border-radius: 12px;
  font-size: 14px;
  gap: 4px;
  padding: 5px 5px 5px 20px;
  transition: box-shadow .2s ease-out;
  background-color: $whiteBase;

  &:not(.disabled):hover {
    box-shadow: 0 5px 10px $greyBorder;
  }

  & .content {
    display: flex;
    background-color: inherit;
    gap: 4px;
    flex-direction: column;
    width: 100%;

    & span {
      color: $greyBase;
      font-size: 11px;
    }
  }

  & input {
    border: none;
    outline: none;
    height: 17px;
    width: 100%;
  }
}

.checkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 40px;
  border: 1px solid $greyBorder;
  border-radius: 12px;
  background-color: $greyBackground;
  cursor: pointer;
  transition: .2s ease-out;
  overflow: hidden;
  outline: none;

  &:hover {
    background-color: $greenBase;
    border-color: $greenBase;

    & g {
      opacity: 1;
    }

    & path {
      stroke: $whiteBase;
    }
  }
}

.active {
  border-color: $greenBase;
}


.filled {
  padding: 8px 5px 8px 20px;
}