@import "../../../assets/styles/colors";

.inputContainer {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  transition: .2s ease-out;
  font-weight: 400;
  color: $blackBase;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  border: dashed 2px $greenBase;
  border-radius: 12px;

  &:not(.disabled):active {
    opacity: .9;
  }

  &:not(.disabled):hover {
    color: $greenBase;
    background-color: $greenLight;
  }

  input {
    display: none;
  }
}

//types

.solid {
  border: solid 1px $greenBase;
  border-radius: 40px;

  &:not(.disabled):hover {
    color: $whiteBase;
    background-color: $greenBase;
    & svg {
      & path {
        transition: .2s ease-out;
        stroke: white;
      }
    }
  }
}

//sizes

.fixSize {
  max-width: 285px;
  height: 50px;
}
.coverSize {
  height: 120px;
}

.disabled {
  opacity: .6;
}