@import "../../assets/styles/colors";

.accordion {
  font-size: 14px;
  font-family: inherit;
  width: 100%;
  max-width: 384px;
  height: 57px;
  border: 1px solid $greyBorder;
  border-radius: 12px;
  transition: .4s ease-out;
  overflow: hidden;
  color: $blackBase;
  background-color: $whiteBase;

  &:hover {
    box-shadow: 0 5px 10px $greyBorder;
  }
}

.accordionOpen {
  border-color: $greenBase;
  height: 140px;
  color: $greenBase;
  background-color: $whiteBase;

}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-left: 50px;
  width: 90%;
  height: 100%;
  background-color: $whiteBase;
  cursor: pointer;
  text-align: start;
  border: none;
  transition: .2s;
  font-weight: 500;
  color: inherit;

  span {
    font-size: 16px;
  }

  &:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 12px;
    background-image: url("../../assets/icons/arrowBottom.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: 5%;
    top: 40%;
    transition: .2s ease-out;
    pointer-events: none;
  }
}

.iconButton {
  border: none;
  width: 10%;
  height: 100%;
  cursor: pointer;
  background-color: $whiteBase;
  transition: 2s ease-out;

  svg {
    margin-top: 2px;
  }

  path {
    stroke: $greyBase;
  }

  &:hover {
    path {
      stroke: $greenBase;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  background-color: $whiteBase;
  margin: 0 16px;
  gap: 10px;
  color: $blackBase;
}

.rotate:after {
  transform: rotate(180deg);
}