/* Roboto fonts*/

@font-face {
	font-family: 'Roboto';
	src: url("../../fonts/roboto/Roboto-Regular.ttf");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url("../../fonts/roboto/Roboto-Medium.ttf");
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url("../../fonts/roboto/Roboto-Bold.ttf");
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}