.progressBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 60px;
  transition: .3s ease-out;
}

.progressBarDisabled {
  opacity: .6;
  pointer-events: none;
}