@import "../../../assets/styles/colors";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  border: 1px solid $greyBorder;
  border-radius: 12px;
  font-size: 14px;
  padding: 0 20px;
  transition: box-shadow .2s ease-out;
  background-color: $whiteBase;
  min-width: 60px;
  &:hover {
    box-shadow: 0 5px 10px $greyBorder;
  }

  & input {
    border: none;
    outline: none;
    height: 17px;
  }

  & span {
    color: $greyBase;
    font-size: 11px;
  }
}

.active {
  border-color: $greenBase;

}

.filled {
  padding: 8px 20px;
  justify-content: space-between;
}

.disabled {
  opacity: 0.6;
}

