@import "../../assets/styles/colors";

.button {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 8px;
  align-items: center;
  transition: .2s ease-out;
  font-weight: 400;
  color: $whiteBase;
  cursor: pointer;
  border-radius: 40px;
  overflow: hidden;
  border: solid 1px $greenBase;
  padding: 10px 24px;
  white-space: nowrap;
  box-sizing: border-box;
  & svg {
    min-width: 20px;
    min-height: 20px;
  }

  &:active {
    opacity: .9;
  }

  &:disabled {
    opacity: .6;
  }
}

// colors
.green {
  background-color: $greenBase;

  &:not([disabled]):hover {
    background-color: $greenHover;
  }
}

.white {
  background-color: inherit;
  color: $blackBase;

  &:not([disabled]):hover {
    background-color: $greenBase;
    color: $whiteBase;

    & svg {
      & path {
        transition: .2s ease-out;
        stroke: white;
      }
    }
  }
}

.grey {
  border: solid 1px #e8e8e8;
  background-color: $greyBackground;
  color: $blackBase;

  &:not([disabled]):hover {
    background-color: $greenBase;
    color: $whiteBase;
    border-color: $greenBase;

    & svg {
      & path {
        transition: .2s ease-out;
        stroke: white;
      }
    }
  }
}

//sizes
.xl {
  height: 64px;
  font-size: 16px;
}

.l {
  height: 50px;
  font-size: 14px;
}

.m {
  min-width: 100px;
  max-width: 133px;
  height: 40px;
  font-size: 14px;
}

.s {
  max-width: 102px;
  height: 40px;
  font-size: 14px;
}

.xs {
  max-width: 50px;
  height: 50px;
  font-size: 14px;
}

.disabled {
  opacity: .6;

}

//icon

.icon {
  display: block;
}

.iconRight {
  flex-direction: row-reverse;
}

//icon colors

.iconGreen {
  stroke: $greenBase;

  &:hover {
    stroke: $whiteBase;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}