@import "src/assets/styles/colors";

.personForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  position: relative;
}

.saveButtonContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-self: end;
  max-width: 285px;
}

.errorMessage {
  position: absolute;
  color: $redError;
  bottom: 15px;
  font-size: 12px;
}