.spvDetailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
}

.spvDetailsForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.initialClosingContent {
  display: flex;
  gap: 4px;
  align-items: end;
}