@import "src/assets/styles/colors";

.authFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.authForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 16px;
}

.forgotButton {
  background: none;
  color: $greenBase;
  font-size: 12px;
  font-weight: 600;
  width: fit-content;
  border: none;
  cursor: pointer;
}

.separatorContainer {
  display: flex;
  position: relative;
  justify-content: center;
}

.separator {
  font-size: 12px;
  color: $greyBase;

  &:before {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    max-width: 270px;
    width: 45%;
    background-color: $greyBorder;
    left: 0;
    top: 8px;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    max-width: 270px;
    width: 45%;
    background-color: $greyBorder;
    right: 0;
    top: 8px;
  }
}

.loginMethods {
  display: flex;
  gap: 20px;
}

.authButton {
  display: flex;
  justify-content: center;
  gap: 15.5px;
  align-items: center;
  border-radius: 10px;
  max-width: 285px;
  width: 100%;
  height: 54px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: .2s ease-out;
  padding: 5px 10px;

  &:hover {
    box-shadow: 0 5px 10px $greyBorder;;
  }
}

.buttonGoogle {
  background-color: $whiteBase;
  color: $greyBase;
  font-family: 'Roboto', sans-serif;
  border: 1px solid $greyBorder;
}

.buttonApple {
  background-color: $greyBackground;
  color: $blackBase;
  border: 1px solid $blackBase;
  font-family: "SF Pro Display", sans-serif;
}

.authFormTermsText {
  font-size: 12px;
  color: $greyBase;
  white-space: pre-wrap;
  text-align: center;

  a {
    color: $greenBase;
    font-weight: 600;
  }
}

.authFormSignUpText {
  text-align: center;
  font-size: 14px;

  & > a {
    color: $greenBase;
    font-weight: 600;
  }
}