@import "../../assets/styles/colors";

.buttonContainer {
  display: flex;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 8px;
  align-items: center;
  transition: .2s ease-out;
  font-weight: 400;
  color: $whiteBase;
  cursor: pointer;
  border-radius: 40px;
  overflow: hidden;
  border: solid 1px $greenBase;

  &:active {
    opacity: .9;
  }

  &:disabled {
    opacity: .6;
  }
}

// colors

.green {
  background-color: $greenBase;

  &:not([disabled]):hover {
    background-color: $greenHover;
  }
}

.white {
  background-color: $whiteBase;
  color: $blackBase;

  &:not([disabled]):hover {
    background-color: $greenBase;
    color: $whiteBase;

    & svg {
      & path {
        transition: .2s ease-out;
        stroke: white;
      }
    }
  }
}

.grey {
  border: solid 1px #e8e8e8;
  background-color: $greyBackground;
  color: $blackBase;

  &:not([disabled]):hover {
    background-color: $greenBase;
    color: $whiteBase;
    border: none;

    & svg {
      & path {
        transition: .2s ease-out;
        stroke: white;
      }
    }
  }
}

//sizes

.xl {
  max-width: 285px;
  height: 64px;
  font-size: 16px;
  flex-direction: row-reverse;
}

.l {
  max-width: 285px;
  height: 50px;
  font-size: 14px;
}

.m {
  max-width: 133px;
  height: 40px;
  font-size: 14px;
}

.s {
  max-width: 102px;
  height: 40px;
  font-size: 14px;
}

.xs {
  max-width: 50px;
  height: 50px;
  font-size: 14px;
}

.disabled {
  opacity: .6;

}

//icon

.icon {
  display: block;
}

.iconLeft {
  justify-self: start;
}

//icon colors

.iconGreen {
  stroke: $greenBase;

  &:hover {
    stroke: $whiteBase;
  }
}

