@import 'src/assets/styles/colors';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-size: 16px;
  gap: 12px;

  &:last-child {
    & > div:last-child {
      display: none;
    }
  }
}

.content {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  cursor: pointer;

  &:before {
    content: '';
    opacity: 0;
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -15px;
    background-color: $orangeBase;
  }
}

.contentActive:before {
  opacity: 1;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: $greyBase;
  border: 1px solid $greyBase;
  border-radius: 30px;
  font-size: 14px;
}

.activeIcon {
  background-color: $orangeBase;
  border: none;
  color: $blackBase;
}

.arrowIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;

}