@import '../../../assets/styles/colors';

.uploadingGroupContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 590px;
  border-radius: 12px;
  padding: 20px;

  & > span {
    font-size: 18px;
  }
}

.inputDescBlockContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  & > p {
    color: $greyBase;
    font-size: 12px;
    line-height: 1.3;
  }
}

//attached block

.attachedBlock {
  display: flex;
  justify-content: space-between;
  border: 1px solid $greyBorder;
  border-radius: 12px;
  padding: 20px;
  align-items: center;
  max-width: 550px;
  max-height: 80px;
  width: 100%;
  height: 100%;

  & > span {
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}