@import "../../../assets/styles/colors";

.inputRadioContainer {
  display: flex;
  align-items: center;
  border: 1px solid $greyBorder;
  border-radius: 12px;
  padding: 15px 16px;
  max-width: 200px;
  width: fit-content;
  background-color: $whiteBase;
  font-size: 14px;
  transition: .2s ease-out;
  gap: 8px;
  cursor: pointer;

  &:not(.disabled):hover {
    border-color: $greenBase;
  }

  & > input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 2;
    outline: none;

    &:checked + .radioIcon {
      background-image: url('src/assets/icons/checkGreen.svg');
    }
  }

}

.inputTextContainer {
  display: flex;
  align-items: center;
  width: fit-content;
  transition: 2s ease-out;

  & input {
    display: inline-block;
    height: 17px;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    font-size: 14px;
    transition: 0.2s ease-out;
    width: 100px
  }
}

.text {
  color: $greyBase;
}

.radioIcon {
  background-image: url('src/assets/icons/check.svg');
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  z-index: 1;
}

.active {
  border-color: $greenBase;
}

.disabled {
  opacity: .6;
}
