@import "../../../assets/styles/colors";

.container {
  display: flex;
  align-items: center;
  border: 1px solid $greyBorder;
  border-radius: 12px;
  height: 50px;
  min-width: 68px;
  max-width: 285px;
  width: fit-content;
  background-color: $whiteBase;
  font-size: 14px;
  transition: .2s ease-out;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;

  &:not(.disabled):hover {
    border-color: $greenBase;
  }
}

.inputRadioContainer {
  position: relative;
  width: 20px;
}

.inputTextContainer {
  display: flex;
  align-items: center;
  width: fit-content;
  transition: 2s ease-out;
  padding: 0 10px 0 30px;

  & input {
    display: inline-block;
    height: 17px;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    font-size: 14px;
    transition: 0.2s ease-out;
    width: 100px;
    min-width: 15px;
  }
}

.inputRadio {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  z-index: 2;
  outline: none;
  left: 15px;
  top: -8px;
  &:checked + .radioIcon {
    left: 15px;
    background-image: url('src/assets/icons/checkGreen.svg');
  }
}

.radioIcon {
  position: absolute;
  background-image: url('src/assets/icons/check.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  z-index: 1;
  min-width: 15px;
  height: 15px;
  left: 15px;
  top: -8px;
}

.content {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  word-break: break-all;
  & > span {
    padding: 16px 16px 16px 25px;
  }
}

.withText {
  color: $greyBase;
}

.active {
  border-color: $greenBase;
}

.disabled {
  opacity: .6;
}
