@import 'src/assets/styles/colors';

.investmentStructureContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
}

.investmentStructureForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.dropdownTitle {
  font-size: 18px;
  color: $blackBase;
}