@import '/src/assets/styles/colors';

.attachedBlock {
  display: flex;
  justify-content: space-between;
  border: 1px solid $greyBorder;
  border-radius: 12px;
  padding: 20px;
  align-items: center;
  max-height: 80px;
  width: 100%;
  height: 100%;
  background-color: $whiteBase;

  & > span {
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}