@import 'src/assets/styles/colors';

.sectionTitleContainer {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  & > h2 {
    font-family: "BB Studio Pro Headline", "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 400;
  }

  & > span {
    color: $greyBase
  }
}