@import "src/assets/styles/breakpoints";
@import "src/assets/styles/colors";

.header {
  box-shadow: 0 5px 10px $greyBorder;
  background: hsla(0,0%,100%,.15);
  position: fixed;
  width: 100%;
  z-index: 10;
  backdrop-filter: blur(15px);
}

.container {
  max-width: $lg;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
