@import "src/assets/styles/breakpoints";

.header {
  box-shadow: 0 4px 25px -5px #b6b6b6;
}

.container {
  max-width: $lg;
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
