@import "src/assets/styles/breakpoints";
@import "src/assets/styles/colors";

.header {
  box-shadow: 0 5px 10px $greyBorder;
  background-color: white;
}

.container {
  max-width: $lg;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
