@import "src/assets/styles/colors";

.container {
  overflow: hidden;
}
.datepickerButton {
  display: flex;
  align-items: center;
  background-color: $whiteBase;
  border: none;
  color: $greyBase;
  font-size: 14px;
  cursor: pointer;
  height: 50px;
  width: 280px;
  padding-left: 50px;
}

.activeButton {
  color: $blackBase;
}

.headerCalendarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $whiteBase;
  text-transform: uppercase;

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
  }
  & > div:last-child {
    width: 160px;
  }
}

.buttonCount {
  padding-top: 2px;
  background-color: $whiteBase;
  cursor: pointer;
  border: none;
}

.increaseIcon {
  transform: rotate(180deg);

}