@import "src/assets/styles/colors";

.inputContainer {
  display: flex;
  align-items: center;
  border: 1px solid $greyBorder;
  border-radius: 12px;
  padding: 15px 16px;
  max-width: 200px;
  width: fit-content;
  background-color: $whiteBase;
  font-size: 14px;
  transition: .2s ease-out;
  gap: 8px;
  cursor: pointer;

  &:not(.disabled):hover {
    border-color: $greenBase;
  }

  & > input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 2;
    outline: none;

    &:checked + .radioIcon {
      background-image: url('src/assets/icons/checkGreen.svg');
    }
  }
}
.customInputText {
  width: 120px;
  height: 10px;
  background-color: inherit;
  border: none;
  outline: none;
}