$blackBase: #141414;

$whiteBase: #FFFFFF;

$greyBase: #717171;
$greyBorder: #E8E8E8;
$greyBackground: #F6F6F6;

$redBase: #FF0000;

$greenBase: #486632;
$greenHover: #2B4F12;
$greenUploadHover: #E7F4DE;

$orangeBase: #FFA200;


