@import "./fonts-styles/poppins.css";
@import "./fonts-styles/roboto.css";
@import "./fonts-styles/bbstudio.css";
@import "./fonts-styles/sf-pro-display.css";
@import "./colors";

html, body, #root {
  min-height: 100vh;
  height: 100vh;
  font-family: 'Poppins', 'Roboto', -apple-system, 'Cantarell', 'BlinkMacSystemFont', 'SF Pro Display', 'BB Studio Pro Headline', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif';
  line-height: 1.3;
  padding: 0 calc(20px - (100vw - 100%)) 0 0;
}

html {
  scrollbar-width: thin;
  scrollbar-color: rgba(133, 133, 133, 0.3) $greyBackground;
  scrollbar-gutter: stable;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

body::-webkit-scrollbar-track {
  background-color: $greyBackground;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(133, 133, 133, 0.3);
  border-radius: 50px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}