@import "./fonts-styles/poppins.css";

html, body, #root {
	font-family: 'Poppins', -apple-system,  'BlinkMacSystemFont', 'Roboto',  'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','sans-serif';
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}