@import "./fonts-styles/poppins.css";
@import "./fonts-styles/roboto.css";
@import "./fonts-styles/bbstudio.css";
@import "./fonts-styles/sf-pro-display.css";
@import "./colors";

html, body, #root {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', 'Roboto', -apple-system, 'Cantarell', 'BlinkMacSystemFont', 'SF Pro Display', 'BB Studio Pro Headline', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif';
}

html {
  scrollbar-width: thin;
  scrollbar-color: $greenBase $greyBackground;
  line-height: 1.3;
  overflow-y: scroll;
}

html::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

html::-webkit-scrollbar-track {
  background-color: $greyBackground;
}

html::-webkit-scrollbar-thumb {
  background-color: $greenBase;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}