@import '../../../assets/styles/colors';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 285px;
  width: 100%;
  height: 50px;
  border: 1px solid $greyBorder;
  border-radius: 12px;
  font-size: 14px;
  padding: 0 20px;
  transition: box-shadow .2s ease-out;

  button {
    background-color: $whiteBase;
    border: none;
  }

  &:not(.disabled):hover {
    box-shadow: 0 5px 10px $greyBorder;
  }

  .content {
    display: flex;
    gap: 4px;
    flex-direction: column;
    width: 100%;
    padding-right: 5px;
  }

  & input {
    border: none;
    outline: none;
    height: 17px;
    width: 100%;
  }

  & span {
    color: $greyBase;
    font-size: 11px;
  }

  & svg {
    cursor: pointer;
  }
}

.iconContainer {
  display: block;
  width: 20px;
  height: 20px;
}

.disabled {
  opacity: 0.6;
}

.filled {
  padding: 8px 20px;
}

.active {
  border-color: $greenBase;
}