@import 'src/assets/styles/colors';

.mainLayout {
  display: flex;
  flex-direction: column;
}

.wrapper {
  margin: 170px auto 0;
  border-radius: 15px;
  background-color: $greyBackground;
  max-width: 794px;
  padding: 48px 102px;
}

.bgImage {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}